<header class="header">
  <h1>Ejercicio DCPS 2018-1</h1>
</header>

{{#link-to 'login'}}
  Iniciar Sesi칩n
{{/link-to}}
&nbsp;
{{#link-to 'registrar-persona'}}
  Registrar Persona
{{/link-to}}
&nbsp;
{{#link-to 'listar-personas'}}
  Listar Personas
{{/link-to}}
&nbsp;
{{#link-to 'calculadora'}}
  Calculadora
{{/link-to}}

{{outlet}}

{{!-- <footer class="footer">
  Aplicaci칩n DCPS hecha por Santiago Arbel치ez Cata침o
</footer> --}}
